<% include partials/header/header-landing %>
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Contact</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-header bg-primary text-white"><i class="fa fa-envelope"></i> Contact us.
                </div>
                <div class="card-body">
                    <form class="form-horizontal needs-validation" role="form" method="POST" action="/contact" novalidate>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="contact[name]" aria-describedby="emailHelp" placeholder="Enter name" required>
                            <div class="invalid-feedback">Enter name</div>
                        </div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" name="contact[email]" aria-describedby="emailHelp" placeholder="Enter email" pattern="^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$" required>
                            <div class="invalid-feedback">Enter an email</div>
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea class="form-control" id="message" name="contact[message]" rows="6" required></textarea>
                            <div class="invalid-feedback">Enter a message</div>
                        </div>
                        <div class="mx-auto">
                        <button type="submit" class="btn btn-primary text-right">Submit</button></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-4 col-sm-4">
            <div id="map"></div>
            <div class="card-body">
                <div class="card bg-light">
                    <div class="card-header bg-success text-white text-uppercase"><i class="fa fa-home"></i> Address</div>
                    <div class="card-body">
                        <p id="address" class="card-text">1216 S Magnolia Ave, Anaheim, CA 92804</p>
                        <p class="card-text">Phone: (714) 229-0618</p>
                    </div>
                </div>                    
            </div>
        </div>        
    </div>
</div>

<script>
        function initMap() {
            let geocoder = new google.maps.Geocoder();
            let mapOptions = {
                zoom: 12                
            };
            
            let map = new google.maps.Map(document.getElementById('map'), mapOptions);
            let address = document.getElementById("address").textContent;
            geocoder.geocode({
                "address": address                
            }, function(results, status){
                if(status == "OK") {
                    map.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                }
            });            
        }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIOjv1EkxbXL9bjpJakZpSdc8JTceXwGs&callback=initMap">
    </script>

<% include partials/footer/footer-validation %>