<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>Login Form</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/register/register.css">
</head>

<body>
    <div class="container">
        <%if(error && error.length > 0){%>
        <div class="alert alert-danger" role="alert"><%= error%></div>
        <%}%>
        
                <%if(success && success.length > 0){%>
        <div class="alert alert-success" role="alert"><%= success%></div>
		<%}%>
		
		<div class="alert alert-danger" role="alert">Testing Login</div>
    </div>
    <div class="container">        
        <form class="form-horizontal needs-validation" role="form" method="POST" action="/login" novalidate>
            <div class="row mt-5">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h2 class="text-center">Login</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 field-label-responsive">
                    <label for="username">Username</label>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                            <input type="text" name="user[username]" class="form-control" id="username" placeholder="JohnDoe" required pattern="^[_a-zA-Z0-9\-]{5,15}$" autofocus>
                            <div class="invalid-feedback">
                                Must be alpha-numeric, dash or underscore, between 5 & 15 characters
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
            <div class="row">
                <div class="col-md-3 field-label-responsive">
                    <label for="password">Password</label>
                </div>
                <div class="col-md-6">
                    <div class="form-group has-danger">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                            <input type="password" name="user[password]" class="form-control" id="password"
                                placeholder="Password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                            <div class="invalid-feedback">
                                Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<div class="row mt-3">				
				<div class="col-md-5"></div>
				<div class="col-md-3">
					<button type="submit" class="btn btn-success btn-block"><i class="fas fa-sign-in-alt"></i> Login</button>
				</div>							
			</div>
			<div class="row mt-3">
				<div class="col-md-5"></div>
				<div class="col-md-3">
					<a type="button" class="btn btn-info btn-block" href="/register"><i class="fas fa-sign-in-alt"></i> Register</a>
				</div>							
			</div>
			
           
            
        </form>
    </div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        // Get the forms we want to add validation styles to
        // let forms = document.getElementsByClassName("needs-validation");

        // let validation = Array.prototype.filter.call(forms, form => {
        //     form.addEventListener("submit", event => {
        //         if (!form.checkValidity()) {
        //             event.preventDefault();
        //             event.stopPropagation();
        //         }
        //         form.classList.add('was-validated');
        //     }, false);
		// }, false);
		
		window.setTimeout(function () {
			$(".alert").fadeTo("slow", 0).slideUp(500, function () {
            	$(this).hide();
			});
		}, 2000);
    });
</script>
</body>
</html>