<% include partials/header/header-landing %>
    <div class="container">        
        <form class="form-horizontal needs-validation" role="form" method="POST" action="/register" novalidate>
            <div class="row mt-5">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h2 class="text-center">Register New User</h2>                    
                </div>
            </div>
            <hr>
            <div class="row mt-5">
                <div class="col-md-3 field-label-responsive">
                    <label for="username">Username</label>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                            <input type="text" name="user[username]" class="form-control" id="username" placeholder="JohnDoe" required pattern="^[_a-zA-Z0-9\-]{5,15}$" autofocus>
                            <div class="invalid-feedback">
                                Must be alpha-numeric, dash or underscore, between 5 & 15 characters
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 field-label-responsive">
                    <label for="firstName">First Name</label>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                            <input type="text" name="user[firstName]" class="form-control" id="firstName" placeholder="John" required>
                            <div class="invalid-feedback">Enter a first name please.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 field-label-responsive">
                    <label for="lastName">Last Name</label>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                            <input type="text" name="user[lastName]" class="form-control" id="lastName" placeholder="Doe" required>
                            <div class="invalid-feedback">Enter a last name please.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 field-label-responsive">
                    <label for="email">E-Mail</label>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                            <input type="email" name="user[email]" class="form-control" id="email"  placeholder="john@example.com" required pattern="^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$">
                            <div class="invalid-feedback">Enter an email please.</div>
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 field-label-responsive">
                    <label for="password">Password</label>
                </div>
                <div class="col-md-6">
                    <div class="form-group has-danger">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                            <input type="password" name="user[password]" class="form-control" id="password"
                                placeholder="Password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                            <div class="invalid-feedback">
                                Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="d-flex justify-content-around mt-3">
                <button type="submit" value="Send" class="btn btn-success"><i class="fas fa-user-plus"></i> Register</button>
            </div>
        </form>
    </div>
<% include partials/footer/footer-validation %>