<% include partials/header %>

<div id="main-section" class="container">
    <p class="text-danger">If you have not received a verification email or if you have mistype your email addresses, you can resend the verfication email</p>
    <form class="form-horizontal needs-validation" action="/resend" Method="POST" novalidate>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <div class="d-flex justify-content-end"><strong>Email</strong></div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"></div>
                        <input type="email" name="email" class="form-control" id="email" placeholder="email@example.com"  required pattern="^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$" autofocus>
                        <div class="invalid-feedback">
                            Must be a valid email
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <input type="submit" class="btn btn-primary" value="Resend Email Verification">
            </div>
        </div>        
    </form>    
</div>

<% include partials/footer/footer-validation %>

