<% include partials/header/header-landing %>
    <div id="main-section" class="container">
        <form id="verify-account-form" action="/verify" Method="POST">
            <input type="hidden" name="token" value="<%= token%>">
            <input type="submit" class="btn btn-primary" value="Continue" style="display: none;">
        </form>
    </div>

 <% include partials/footer/footer-validation %>   